# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual env
venv/
.env/

# Logs
logs/
*.log

# DB
*.db

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Alembic cache
alembic/versions/*.pyc
alembic.ini
# Secrets
*.env